.todo__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 25px;
  border-bottom: 1px solid #999;
}

.todo__filter {
  margin-right: 17px;
  cursor: pointer;
}

.todo__filter--active {
  color: var(--blue-color);
}

.todo__filter:last-child {
  margin-right: 0;
}

.todo__clear-btn {
  background-color: var(--blue-color);
  outline: none;
  border: none;
  padding: 9px 12px;
  border-radius: 5px;

  color: #fff;
}

.todo__clear-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
